/* body {
    text-align: center;
} */

.container {
    /* outline: 2px solid grey; */
    width: 1170px;
    margin: 0 auto;
}

.w {
    color: #2196F3;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;

}

.e {
    font-size: 24px;
    /* margin: 24px 93px 0 0; */
    font-family: 'Raleway', sans-serif;


}

.qwerty {
    padding-top: 30px;
    /* margin: 24px 93px 0 215px; */
    /* padding-top: 24px;
    padding-left: 215px; */
}

.link:hover {
    color: #2196F3;
}

.link {
    text-decoration: none;
    color: black;
    /* margin: 20px; */
}

.ul1 {
    margin-bottom: 32px;
    margin-top: 35px;
    display: flex;
    /* width: 900px; */
    list-style-type: none;
    gap: 50px;
}

.contacts {
    margin-top: 35px;
    list-style-type: none;
    display: flex;
    /* margin-right: 10px; */
    gap: 50px;

}



.like {

    font-size: 14px;
}


ul {
    margin: 0;
}

.contacts_link_first {
    text-decoration: none;
    color: #212121;
    /* margin-right: 50px; */
    font-size: 14px;
}

.contacts_link_first:hover {
    color: #2196F3;
}

.small_svg {
    width: 16px;
    height: 12px;
    margin-right: 10px;
}

.small_phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
}

.small_svg:hover use {
    fill: #2196F3;
}



.contacts_link {
    text-decoration: none;
    color: #212121;
    /* margin-right: 50px; */
    font-size: 14px;
}

.active {
    color: #2196F3;
}

.line {
    width: 100%;
    background-color: #ececec;
    height: 1px;
}

.contacts_link:hover {
    color: #2196F3;
}

.dec {

    display: flex;
}

.header {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
}

.section {

    height: 600px;
    /* width: 1600px; */
    text-transform: uppercase;
    text-align: center;
    background: url(photos/group.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    /* padding-top: 200px; */
}

.btn {
    color: white;
    background-color: #2196F3;
    height: 50px;
    width: 216px;
    border: none;
    border-radius: 4px;
    margin-bottom: 200px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.info {
    display: flex;
    flex-wrap: wrap;
    text-align: left;

}

.section_title {
    margin-top: 0;
    font-size: 44px;
    padding-top: 200px;
    font-family: 'Roboto', sans-serif;
    /* margin-bottom: 30px; */
    /* margin-top: 200px; */
}

.list_2 {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    gap: 30px;
    text-align: center;
}

.list_item2 {
    width: 270px;
    /* margin: 94px 30px 94px 215px; */
}

.list_item3 {
    width: 270px;
    /* margin: 94px 30px 94px 30px; */
}

.why_us {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: ; */
    font-size: 14px;
}

.list_item4 {
    width: 270px;
    /* margin: 94px 215px 94px 30px; */
}



.pages {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    /* margin: 50px 30px 0 215px; */
}



.job {
    margin-bottom: 94px;
    /* width: 1880px; */
    /* height: 448px; */
    margin-top: 94px;
}

.work {
    font-size: 36px;
    line-height: 42.19px;
    padding-bottom: 50px;
    text-align: center;
}

.abc {
    color: #757575;

}

.our_team {
    font-size: 36px;
    line-height: 42.19px;
    padding-bottom: 50px;
    text-align: center;
    padding-top: 94px;
}

.workers {
    /* height: 648px;
    width: 1900px; */
    padding-bottom: 94px;
    background-color: #F5F4FA;
}



.igor {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    text-align: center;
    display: flex;
}

.misha {
    color: #212121;
    font-size: 16px;

}

.images_for_description {
    margin-top: -4px;
    margin-bottom: 27px;
    display: flex;
    justify-content: space-between;
    padding-left: 0;

}

.images_for_description li {
    border-radius: 4px;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
}

.polotno {
    margin-top: 25px;
    margin-left: 102.34px;
}

.contacts_link:hover svg path {
    fill: #2196F3;
}

.mukola {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 1px 5px #757575;
    background-color: #ffff;


}

.mukola_1 {
    list-style-type: none;
    /* margin: 50px 30px 94px 0 */
}

.mukola_2 {
    list-style-type: none;
    /* margin: 50px 215px 94px 0 */
}

.images_of_teams_inst {
    padding-left: 0;
    width: 206px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 30px;
}

.images_of_teams_inst li {
    width: 44px;
    height: 44px;
}

.social_groups {
    margin: 12px;
}

.links_for_social_media {
    color: #AFB1B8;
    padding-top: 27px;
    margin-top: -10px;
}

.links_for_social_media:hover {
    color: white;
}

.svg_inst {
    width: 20px;
    height: 20px;
}

.social_media_list_item:hover svg path {
    fill: #FFFFFF;
}

.social_media_list_item:hover {
    background-color: #2196F3;
    border-radius: 100%;
}

.social_media_list_item {
    cursor: pointer;
}

.jon {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 1px 5px #757575;
    padding-bottom: 30px;
    background-color: #ffff;
}

.finish {
    color: #2196F3;
    font-size: 30px;
    /* margin: 60px 0 20px 215px;
    padding-top: 60px; */
}

.finish_2 {
    font-size: 30px;
    color: #FFFFFF;
}

.inform {
    margin-top: 0;
    background-color: #2F303A;
    padding-top: 0;
    /* width: 1880px;
    height: 258px; */

}

.gmail {
    /* padding: 0 0 9px 215px; */
    list-style-type: none;
    padding-bottom: 9px;
}

.gmail_2 {
    list-style-type: none;
    /* padding: 60px 0 20px 0; */
}

.num {
    color: #FFFFFF99;
    text-decoration: none;
    /* margin: 20px 0 60px 0 */
}

.num1 {
    color: #ffffff;
    text-decoration: none;
    /* margin: 20px 0 60px 0 */
}

.link:hover {
    color: #2196F3;
}

.problems_list {
    margin-top: 94px;
    margin-bottom: 94px;
}

.footer {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

}

.end {
    color: #2196F3;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    margin-top: 60px;
    font-size: 26px;
}

.end_header {
    padding-top: 60px;
    padding-bottom: 20px;
}

.end2 {
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}

.foot {

    height: 252px;
}



li {
    list-style: none;
}

.buttons {
    margin-top: 94px;
    margin-bottom: 34px;
    display: flex;
    justify-content: center;

}

.btn_port {
    padding-right: 8px;
}

.btns {
    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    width: 73px;
    height: 38px;
}

.btns1 {
    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;
    width: 125px;
    height: 38px;
}

.btns2 {
    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;
    width: 112px;
    height: 38px;
}

.btns3 {
    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;
    width: 103px;
    height: 38px;
}

.btns4 {
    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;
    width: 130px;
    height: 38px;
}

.btns:hover {
    background-color: #2196F3;

    border: none;
    border-radius: 4px;
    width: 73px;
    height: 38px;
}

.btns1:hover {
    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    width: 125px;
    height: 38px;
}

.btns2:hover {
    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    width: 112px;
    height: 38px;
}

.btns3:hover {
    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    width: 103px;
    height: 38px;
}

.btns4:hover {
    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    width: 130px;
    height: 38px;
}

.always_clients {
    padding-top: 94px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 0;
}

.always_clients_photo {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-bottom: 94px;
    padding-top: 50px;
}



.photo_of_clients svg {
    margin-top: 16px;
    margin-left: 32px;
}

.photo_of_clients:hover path {
    fill: #2196F3;
}

.photo_of_clients:hover {
    outline: solid 1px #2196F3;
}

.photo_of_clients_first:hover {
    outline: solid 1px #2196F3;
}

.h_come_in {
    margin-top: 72px;
    font-size: 18px;
    padding-bottom: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 0;
    color: #FFFFFF;
}

.always_clients_photo li {
    outline: solid 1px #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
}

.photos {
    display: flex;
    /* margin-left: 0;
    margin-right: 0;  */
    padding-right: 0;
    padding-left: 0;
    flex-wrap: wrap;
    justify-content: space-between;

}

.photo {
    display: inline;
    width: 370px;
    height: 294px;
}

.svg_2 {
    margin-top: 120.6px;

}

.new_style_of_clients:hover {
    outline: solid 1px #2196F3;
}

.new_style_of_clients {
    color: #AFB1B8;

}

.new_style_of_clients:hover {
    color: #2196F3;
    outline: solid 1px #2196F3;
}

.first_client {
    width: 106px;
    height: 60px;
}

.svg_div {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    /* outline: solid yellow 2px; */
}

.dh_photos {
    padding-bottom: 20px;
    margin-bottom: 30px;
    display: inline;
    outline: 1px solid #EEEEEE;
}

.dh_photos:hover {
    box-shadow: 3px 5px 4px #EEEEEE;
}

.dh_photos1 {
    margin-bottom: 94px;
    padding-bottom: 20px;
    display: inline;
    outline: 1px solid #EEEEEE;
}

.description {
    font-size: 18px;
    padding-left: 24px;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-bottom: 4px;
}

.description2 {
    font-size: 16px;
    padding-left: 24px;
    color: #757575;
    font-family: 'Roboto', sans-serif;
}

.foot_together {
    display: flex;
    padding-left: 0;
}



.images_of_teams_inst_2 {
    margin-left: 70px;
    padding-left: 0;
    padding-bottom: 0;
    width: 206px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 30px;
}

.social_media_list_item_2 svg path {
    fill: #FFFFFF;
}

.social_media_list_item_2 {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
}

.social_media_list_item_2:hover {
    background-color: #2196F3;
}

.the_last_list_item {
    padding-right: 70px;
}

.button_nav {
    cursor: pointer;
}

.social_media_list_item_footer {
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 100%;
}

.social_media_list_item_footer:hover {
    background-color: #2196F3;
    cursor: pointer;
}

.links_for_social_media_footer {
    color: white;
}

.description_for_img_3 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2f303ace;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    /* font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal; */

}

.description_for_img_2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2f303ace;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    /* font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal; */

}



.description_for_img {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2f303ace;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    /* font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal; */

}

.pages1 {
    height: 294px;
    position: relative;

}

.like_modal {
    background-color: #fff;
    border: none;
    cursor: pointer;
}





.btn-open {
    font-size: 24px;
    background-color: rgb(62, 230, 40);
    border: none;
    color: blue;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.24);
    opacity: 1;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;

}

.no-scroll {
    overflow: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 528px;
    min-width: 527.9999999px;
    max-height: 581px;
    min-height: 580px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 0 2px 1px #757575;
    transform: translate(-50%, -50%);
}

.close_modal {
    width: 18px;
    height: 18px;
    margin-bottom: -6px;
    margin-left: -1px;
}

.btn-close {
    background-color: #fff;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border: none;
    outline: solid #0000002a 1px;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

.btn-close:hover {
    color: #2196F3;
}



.give_us_ur_inform {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    position: absolute;
    top: 14px;
    left: 40px;
    letter-spacing: 3%;
    width: 448px;
    text-align: center;
}

.icon {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 2px;
    left: 12px;
    display: block;
}

.name {
    position: relative;
    color: #2196F3;
}

.input_icon {
    padding-left: 42px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.name:focus-within .icon {
    fill: #2196F3;
}

.name:focus-within .div_for_svg_icon {
    color: #2196F3;
}

.div_for_svg_icon {
    color: #212121;
}

.name_p {
    color: #757575;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: px;
}

.form_modal {
    margin: 0 auto;
    position: absolute;
    top: 70px;
    left: 40px;
    width: 448px;
}

.input_icon {
    width: 448px;
    border-radius: 4px;
    border: none;
    outline: 1px solid #21212144;

}

.name_div {
    margin-bottom: -10px;
}

.enter_text {
    width: 448px;
    height: 120px;
    border-radius: 4px;
    border: none;
    outline: 1px solid #21212144;
    padding-top: 9px;
    padding-left: 16px;
}

.enter_text::placeholder {
    color: #757575;
    position: absolute;
    top: 12px;
    left: 16px;
    font-size: 12px;
}

.link_modal {
    text-decoration: none;
    color: #2196F3;
    position: relative;
}

.link_modal::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    top: 20px;
    background-color: #2196F3;
}

.input_checkbox {
    text-align: center;
    margin-top: 20px;
    padding-right: 9px;
    /* outline: solid 2px #212121; */
}

.name_checkbox {
    color: #757575;
    display: inline;
}

.agree_checkbox {
    display: inline;
    padding-left: 9px;
}

.send_modal {
    color: #fff;
    background-color: #2196F3;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: 40px;
    margin-left: 50%;
    transform: translateX(-50%);
    border: none;
    cursor: pointer;
}