/* body {
    text-align: center;
} */

.container {
    /* outline: 2px solid grey; */
    width: 1170px;
    margin: 0 auto;
}

.w {
    color: #2196F3;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
   
}

.e {
    font-size: 24px;
    /* margin: 24px 93px 0 0; */
    font-family: 'Raleway', sans-serif;
    

}

.qwerty {
    /* margin: 24px 93px 0 215px; */
    /* padding-top: 24px;
    padding-left: 215px; */
    padding-top: 8px;
}

.link:hover {
    color: #2196F3;
}

.link {
    text-decoration: none;
    color: black;
    /* margin: 20px; */
} 

.ul1 {
    display: flex;
    /* width: 900px; */
    list-style-type: none;
    gap: 50px;
}

.contacts {
    list-style-type: none;
    display: flex;
    /* margin-right: 10px; */
    gap: 50px;
    
}



.like {
    /* margin: 24px 50px 25px 0; */
    font-size: 14px;
}

.contacts_items {
    /* margin: 24px 10px 0 0;  */
}



.contacts_link {
    text-decoration: none;
    color: #212121;
    /* margin-right: 50px; */
    font-size: 14px;
}

.active {
    color: #2196F3;
}

.line {
    width: 100%;
    background-color: #ececec;
    height: 1px;
}

.contacts_link:hover {
    color: #2196F3;
}

.dec {
    display: flex;
}

.header {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}

.section {
    
    height: 600px;
    /* width: 1600px; */
    text-transform: uppercase;
    text-align: center;
    background-color: #2F303A;
    color: white;
    /* padding-top: 200px; */
}

.btn {
    color: white;
    background-color: #2196F3;
    padding: 10px 30px 10px 30px;
    border: none;
    border-radius: 4px;
    margin-bottom: 200px;
    
}

.info {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    
}

.section_title {
    font-size: 44px;
    padding-top: 200px;
    font-family: 'Roboto', sans-serif;
    /* margin-bottom: 30px; */
    /* margin-top: 200px; */
}

.list_2 {
    list-style-type: none;
    display: flex;
    gap: 30px;
    text-align: center;
}

.list_item2 {
    width: 270px;
    /* margin: 94px 30px 94px 215px; */
}

.list_item3 {
    width: 270px;
    /* margin: 94px 30px 94px 30px; */
}

.why_us {
    display: flex;
    flex-wrap: wrap;
    justify-content: ;
    font-size: 14px;
}

.list_item4 {
    width: 270px;
    /* margin: 94px 215px 94px 30px; */
}



.pages {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    /* margin: 50px 30px 0 215px; */
}

.pages1 {
    /* margin-right: 30px; */
}

.job {
    margin-bottom: 94px;
    /* width: 1880px; */
    /* height: 448px; */
    margin-top: 94px;
}

.work {
    font-size: 36px;
    line-height: 42.19px;
    padding-bottom: 50px;
    text-align: center;
}

.abc {
    color: #757575;
    
}

.our_team {
    font-size: 36px;
    line-height: 42.19px;
    padding-bottom: 50px;
    text-align: center;
    padding-top: 94px;
}

.workers {
    /* height: 648px;
    width: 1900px; */
    padding-bottom: 94px;
    background-color: #F5F4FA;
}



.igor {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    text-align: center;
    display: flex;
}

.misha {
    color: #212121;
    font-size: 16px;

}

.mukola {
    list-style-type: none;
    
    /* margin: 50px 30px 94px 215px */
}

.mukola_1 {
    list-style-type: none;
    /* margin: 50px 30px 94px 0 */
}

.mukola_2 {
    list-style-type: none;
    /* margin: 50px 215px 94px 0 */
}

.jon {
    padding-bottom: 30px;
    background-color: #ffff;
}

.finish {
    color: #2196F3;
    font-size: 30px;
    /* margin: 60px 0 20px 215px;
    padding-top: 60px; */
}

.finish_2 {
    font-size: 30px;
    color: #FFFFFF;
}

.inform {
    margin-top: 0;
    background-color: #2F303A;
    padding-top: 0;
    /* width: 1880px;
    height: 258px; */

}

.gmail {
    /* padding: 0 0 9px 215px; */
    list-style-type: none;
    padding-bottom: 9px;
}

.gmail_2 {
    list-style-type: none;
    /* padding: 60px 0 20px 0; */
}

.num {
    color: #FFFFFF99;
    text-decoration: none;
    /* margin: 20px 0 60px 0 */
}

.num1 {
    color: #ffffff;
    text-decoration: none;
    /* margin: 20px 0 60px 0 */
}

.problems_list {
    margin-top: 94px;
    margin-bottom: 94px;
}

.footer {
    padding-left: 370px;
    margin-top: 0;
    margin-bottom: 0;
}

.end {
    color: #2196F3;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    padding-left: 175px;
    font-size: 26px;
}

.end2 {
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}

.foot {
    
    height: 252px;
}

.ment {
    padding-left: 195px;
    padding-top: 60px;
}

li {
    list-style: none;
}

.buttons {
    margin-top: 94px;
    margin-bottom: 34px;
    display: flex;
    justify-content: center;
    
}

.btn_port {
    padding-right: 8px;
}

.btns {
    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    width: 73px;
    height: 38px;
}

.btns1 {
    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;
    width: 125px;
    height: 38px;
}

.btns2 {
    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;
    width: 112px;
    height: 38px;
}

.btns3 {
    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;
    width: 103px;
    height: 38px;
}

.btns4 {
    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;
    width: 130px;
    height: 38px;
}

.btns:hover {
    background-color: #2196F3;

    border: none;
    border-radius: 4px;
    width: 73px;
    height: 38px;
}

.btns1:hover {
    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    width: 125px;
    height: 38px;
}

.btns2:hover {
    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    width: 112px;
    height: 38px;
}

.btns3:hover {
    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    width: 103px;
    height: 38px;
}

.btns4:hover {
    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    width: 130px;
    height: 38px;
}

.photos {
    display: flex;
    /* margin-left: 0;
    margin-right: 0;  */
    padding-right: 0;
    padding-left: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    
}


.photo {
    display: inline;
    width: 370px;
    height: 294px;
}

.dh_photos {
    padding-bottom: 20px;
    margin-bottom: 30px;
    display: inline;
    outline: 1px solid #EEEEEE;
}

.dh_photos1 {
    margin-bottom: 94px;
    padding-bottom: 20px;
    display: inline;
    outline: 1px solid #EEEEEE;
} 

 .description {
    font-size: 18px;
    padding-left: 24px;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-bottom: 4px;
}

.description2 {
    font-size: 16px;
    padding-left: 24px;
    color: #757575;
    font-family: 'Roboto', sans-serif;
}


